.header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    background-color: #000;
    /* Adjust the color to fit your design */
    color: #fff;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.nav-link:hover,
.nav-link-active {
    color: #ff4757;
    /* Active link color */
}

.header-social {
    display: flex;
    justify-content: flex-end;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .nav-link {
        margin-bottom: 1rem;
    }

    .header-social {
        order: -1;
        /* This will move social links to the top on small screens */
    }
}