.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #1c1c1c 50%, #343434 50%);
    /* or any other dark shade */
    color: #ffffff;
    padding: 50px;
    height: auto;
    /* Adjust as per your design needs */
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    /* Adjust gap between icons as needed */
}

.social-icons a {
    color: #ffffff;
    /* White color for icons */
    font-size: 24px;
    /* Size of icons */
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #73bbe5;
    /* Color change on hover */
}

.section-link {
    text-decoration: underline;
    
    /* Removes the underline from links */
    color: inherit;
    /* Ensures the link has the same color as the text */
}

.section-link h2 {
    cursor: pointer;
    /* Changes the cursor to signify clickable items */
    transition: color 0.3s ease;
    /* Smooth transition for hover effect */
}

.section-link h2:hover {
    color: #0277bd;
    /* Change color on hover */
}

/* ... rest of your CSS */

.left-column,
.right-column {
    flex-basis: 50%;
}
.left-column{
    height: 60rem;
}

.left-column h2 {
    margin-bottom: 0.5rem;
}

.left-column p {
    margin-bottom: 2rem;
}

.home-profile-picture img {
    width: 300px;
    /* Adjust the size as needed */
    height: 300px;
    border-radius: 50%;
    /* Circular image */
    border: 4px solid #fff;
    /* White border around the image */
    object-fit: cover;
}

.intro-text {
    text-align: right;
    /* Aligns text to the right */
}

.intro-text h1 {
    font-size: 3rem;
    /* Adjust as needed */
    margin-bottom: 1rem;
}

.intro-text p {
    margin-bottom: 2rem;
}



/* Add responsiveness for smaller screens */
@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
        /* Center align for mobile view */
    }

    .left-column,
    .right-column {
        flex-basis: 100%;
    }

    .intro-text {
        text-align: center;
        /* Center align for mobile view */
    }

    /* Adjust image size on smaller screens */
    .home-profile-picture img {
        width: 200px;
        height: 200px;
    }
}